.text {
    line-height: 150%;
    letter-spacing: 0.005em;
    color: $color-light-gray;
}

//========================================================================================================================================================//
.label {
    font-weight: 500;
    font-size: rem(13);
    line-height: math.div(17, 13);
    letter-spacing: 0.004em;
    text-transform: uppercase;
    color: $color-bronze;
}

//========================================================================================================================================================//
.title {
    @include adaptive-value("font-size", 66, 40, 1440, 320);

    max-width: rem(760);
    font-family: $font-second;
    line-height: math.div(90, 66);
    letter-spacing: 0.005em;

    &--low {
        @include adaptive-value("font-size", 53, 40, 1440, 320);

        line-height: math.div(73, 53);
    }

    &--small {
        font-size: rem(38);
        line-height: math.div(52, 38);
        letter-spacing: 0.0025em;
    }
}

//========================================================================================================================================================//
.result {
    position: relative;
    max-width: rem(169);

    &::before {
        @include pseudo;
        @include wh(rem(52), rem(52));

        left: 0;
        top: rem(-11);
        border-radius: 50%;
        background-color: $color-dark-gray;
    }

    &__title {
        position: relative;
        z-index: 1;
        padding-left: rem(20);
        font-family: $font-second;
        font-size: rem(22);
        line-height: math.div(30, 22);
        letter-spacing: 0.0015em;
        color: $color-dark-yellow;

        &:not(:last-child) {
            margin-bottom: rem(35);
        }
    }

    &__text {
        font-size: rem(15);
        line-height: 140%;
        letter-spacing: 0.0025em;
    }
}

//========================================================================================================================================================//
.info-card {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: rem(270);

    &__image-ibg {
        z-index: 1;
        padding-bottom: percent(229, 270);
        background-color: $color-dark-yellow;

        &::before {
            @include pseudo;

            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgb(41 42 41 / 70%);
        }
    }

    &__body {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: rem(28) 0 0 rem(16);
        width: 100%;
        height: 100%;
    }

    &__title {
        z-index: 2;

        // overflow: auto;
        padding-right: rem(20);
        font-family: $font-second;
        font-size: rem(27);
        line-height: math.div(34, 27);

        @extend %hide-scroll;
    }

    &__button {
        z-index: 2;
        align-self: flex-end;
        border-top-left-radius: rem(10);
        padding: rem(13.68);
        width: fit-content;
        background-color: $color-dark-yellow;

        @media (any-hover: hover) {
            &:hover {
                .info-card__icon {
                    transform: translateX(rem(3)) rotate(45deg) translateY(rem(3));
                }
            }
        }
    }

    &__icon {
        @include wh(rem(26), rem(20));

        transform: rotate(45deg);
        transition: all 0.3s ease;
    }

    @media (min-width: em(320)) {
        margin: 0 auto;
    }
}

//========================================================================================================================================================//
.consult-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: rem(20);
    height: 100%;
    max-width: rem(370);

    &__image-ibg {
        padding-bottom: percent(264, 370);
        background-color: $color-dark-yellow;
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: rem(24);
        height: 100%;
        background-color: $color-dark-gray-second;
    }

    &__title {
        display: inline-block;
        flex: 1 1 auto;
        font-family: $font-second;
        font-size: rem(24);
        line-height: math.div(33, 24);
        text-transform: capitalize;
        transition: all 0.3s ease;

        &:not(:last-child) {
            margin-bottom: rem(12);
        }

        @media (any-hover: hover) {
            &:hover {
                color: $color-dark-yellow;
            }
        }
    }

    &__text {
        @extend .result__text;
    }

    @media (min-width: em(320)) {
        margin: 0 auto;
    }
}
